{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block jquery %}

{% endblock %}

{% block content %}


{% if not user_can_continue %}
<div class="col-sm-6">
  <p class="lead">Continue as Guest</p>
  <form class="" action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class='btn btn-success' type="submit" value="ゲストで続ける">
  </form>
</div>
<div class="col-sm-6">
  <p class="lead">Login to Continue</p>
  <form action="{% url 'auth_login' %}" method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}

    <input type="hidden" name="next" value="{{ next_url }}">
    <input class="btn btn-success" type="submit" value="ログイン">
  </form>

  <div class='text-center'>
    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
  </div>
</div>
{% else %}

<div class="col-sm-4 col-sm-offset-4">
  <p class="lead">Your Order</p>
  <table class="table">
    <tr>

      <td>
        商品名:<br>
        {% for item in order.cart.cartitem_set.all %}
        <b>
        {{ item.item.get_title }} ✕ {{ item.quantity }}
        </b><br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        カートの小計: {{ order.cart.sub_total }}
      </td>
    </tr>
    <tr>
      <td>
        消費税: {{ order.cart.tax_total }}
      </td>
    </tr>
    <tr>
      <td>
        カートの合計: {{ order.cart.total }}
      </td>
    </tr>
    <tr>
      <td>
        Shipping: {{ order.shipping_total_price }}
      </td>
    </tr>
    <tr>
      <td>
        Total: {{ order.order_total }}
      </td>
    </tr>
  </table>
</div>

{% endif %}

{% endblock %}
